COMPOSE_APP_CONTAINER=datathon-app
COMPOSE_POSTGRES_CONTAINER=datathon-postgres
POSTGRES_DB=datathon
POSTGRES_USER=datathon
POSTGRES_PASSWORD=CHANGE_ME
DATABASE_URL=postgresql+psycopg://datathon:CHANGE_ME@datathon-postgres:5432/datathon
ROOT_PATH=/datathon
DOMAIN=rodrigojager.com
APP_BASE_PATH=/datathon
TRAEFIK_NETWORK=traefik_proxy
TRAEFIK_CERTRESOLVER=le
